.logo {
    background-image: url('../image/camel_logo.png');
    background-size: 340px auto;
    background-repeat: no-repeat;
    width: 340px;
    float: left;
    height: 337px;
    background-position-y: center;
}

.jcon {
    position: fixed;
    left: 220px;
    top: 383px;
    background-image: url("../image/jcon-icon.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 14%;
}

.reveal section img.camellogo {
    background: none;
    border: none;
    box-shadow: none;
    width: 339px;
    vertical-align: middle;
    margin-bottom: -15px;
}

.reveal section img.gujlogo {
    background: none;
    border: none;
    box-shadow: none;
    width: 70px;
    vertical-align: middle;
    margin-bottom: 18px;
}

.eipbook {
    float: left;
}

.title{
    float: right;
}

.reveal .spaced{
    word-spacing: 30px;
    font-size: 0.5em;
    line-height: 1.2em;
}

.reveal .spaced .highlight-green{
    color: #17ff2e;
}

.reveal .spaced .highlight-lila{
    color: #2ca737;
}

.highlight-green-inline{
    color: #17ff2e;
}

.highlight-lila-inline{
    color: #2ca737;
}

.reveal section img.noborder{
    background: none;
    border:none;
    box-shadow: none;
}

.reveal pre code {
    font-size: 0.67em;
    line-height: 1.2;
}

.reveal pre {
    width: 100%;
}

.reveal .tiny {
    font-size: 0.3em;
}

.reveal .copyLogo {
    font-size: 0.2em;
    float: left;

}
.reveal .tiny.posabs {
    position: relative;
    top: -50px;
}