<html>
    <head>
        <title>Latest Tweet für #{{headers.hashtag}}</title>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="1"/>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"/>
    </head>
    <body style="font-family: 'Lato', sans-serif;font-size: 28px; font-weight: normal; color: #eee; background-color: black">
    <i><u>{{ headers.date }}</u></i>
    <p>
        <img src="{{headers.img}}"/> {{headers.user}} twitterte auf dem Hashtag <span style="color: #2ca737;">#{{headers.hashtag}}</span>:<br>
        <i>"{{body}}"</i>
    </p>
    </body>
</html>